body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccccc;
}

.container {
    width: 600px;
    height: 650px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5%;
}

h2{
    text-align: center;
}

.game {
    width: 550px;
    height: 550px;
    background-color: #bebebec7;
    background-image: url("img/table.png");
    background-size: cover;
    margin: 20px auto;
    border-radius: 5%;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-left: 10px;
}

td {
    padding: 10px;
    width: 120px;
    height: 120px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.game .button {
    width: 110px;
    height: 110px;
    border-radius: 10%;
    opacity: 0.2;
    border: none;
}

.button:hover {
    opacity: 0.5;
    cursor: pointer;
}
.endgame {
    width: 550px;
    height: 75px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 50px auto;

}
#newgame {
    border: 1px solid black;
    border-radius: 20%;
    width: 100px;
    height: 30px;
    background-color: #206833;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
    #newgame:hover {
        cursor: pointer;
        background-color: #60f7bb;
        color: black;
        border: 2px solid gray;
        box-shadow: 0 0 10px rgba(0,0,0,0.9);
    }
#result-message-container {
    justify-items: center;
    align-items: center;
    border-radius: 25%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 200px;
    font-size: 30px;
    padding: 10px;
    opacity: 0;
}
#result-message {
    text-align: center;
    width: 100%;
}
